cat2 wsd/Registered.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="christ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="computer-science" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="stu-name"/>
                            <xs:element type="xs:string" name="stu-university"/>
                            <xs:element type="xs:long" name="stu-phone"/>
                            <xs:element type="xs:string" name="stu-email"/>                            
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="stu-name">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="3"/>
                <xs:maxLength value="25"/>
                <xs:whiteSpace value="preserve"/>
                <xs:pattern value="([A-Za-z]){25}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="stu-university">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="3"/>
                <xs:maxLength value="20"/>
                <xs:pattern value="([A-Za-z]){20}"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:simpleType name="stu-phone">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]){10}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="stu-email">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="12"/>
                <xs:maxLength value="40"/>
                <xs:pattern value="([a-z@]*)"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

</xs:schema>